* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: block;
}

#header-container {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28vw;
    margin-left: 200px;
    margin-right: 200px;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
}

header nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}


#hero {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    background-color: #1f2937;
}

.main-text {
    width: 450px;
}

#hero .main-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#hero p {
    font-size: 18px;
    color: #e5e7eb;
}

#hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

img {
    flex: 1;
    width: 400px;
    height: 300px;
    padding: 0px;
}

#hero h1 {
    font-size: 36px;
    font-weight: 900;
    color: #f9faf8;
}

#info {
    background: white;
    height: 50vh;
}

#quote {
    background: #e5e7eb;
    height: 50vh;
}

#call-to-action {
    background: #3882f6;
    height: 30vh;
}