@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf)
}

:root {
    font-family: Roboto;
}

html {
    margin: 0px;
    padding: 0px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    font-size: 36px;
}

#logo img {
    height: 50px;
    width: 50px;
}

#sidebar {
    grid-row: 1 / 4;
    background-color: rgb(34, 160, 238);
    color: white;
}

#nav ul {
    margin-bottom: 80px;
}

ul {
    display: grid;
    gap: 20px;
}

ul li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 20px;
    font-weight: bold;
}

#header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-column: 2;
    grid-row: 1 / 3;
    box-shadow: 0 10px 2px -2px;
    align-items: center;
    padding: 0px 100px;
    padding-bottom: 25px;
}

#search {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#search img {
    height: 30px;
}

#search-bar {
    width: 650px;
    height: 25px;
    border-radius: 15px;
}

#notif-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 25px;
}

#notif-profile img:first-child {
    height: 25px;
    width: 25px;
}

#notif-profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#greeting {
    display: grid;
    grid-template: 1fr 1fr / 1fr 5fr;
    font-weight: bold;
}

#greeting img {
    grid-column: 1;
    grid-row: 1 / 3;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#greeting h2 {
    margin: 0;
}

#new-upload-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

#new-upload-share * {
    width: 50px;
    text-align: center;
    background-color: rgb(83, 146, 255);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

img {
    height: 25px;
    width: 25px;
    border: 0px solid white;
}

#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(232, 232, 232);
    padding: 25px 50px 50px 25px;
    gap: 20px;
}

#projects {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    grid-template-rows: auto 1fr;
}

#projects h2 {
    grid-column: 1;
    grid-row: 1;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    border-left: 10px solid rgb(255, 217, 0);
    background-color: white;
    box-shadow: 5px 5px 10px -10px;
    display: flex;
    flex-direction: column;
}

.card h2 {
    margin: 0px;
    text-justify: end;
}

.card-text {
    height: 90%;
}

.card-options {
    display: flex;
    gap: 20px;
    align-items: end;
    justify-content: end;
}

.card-options img {
    height: 30px;
    width: 30px;
}

#announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 2;
    grid-row: 1;
}

#announcements-content {
    border-radius: 10px;
    box-shadow: 5px 5px 10px -10px;
}

#announcements-content div {
    border-bottom: 3px solid lightgray;
}

#announcements-content div:last-child {
    border-bottom: 0px solid black;
}

#announcements-content {
    background-color: white;
    grid-template-columns: 1fr;
    padding: 20px;
}

.announcement p {
    color: gray;
}

#trending {
    grid-column: 2;
    grid-row: 2;
}

#trending-content {
    display: grid;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px -10px;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.trending-item p {
    margin: 0px;
}

.trending-item img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 50px;
    width: 50px;
    border-radius: 50%; 
}

.trending-item p:first-child {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending-item p:last-child {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: gray;
}

li {
    list-style-type: none;
    align-items: end;
    justify-content: center;
}