#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

#sidebar {
    grid-row: 1 / 4;
    background-color: rgb(34, 160, 238);
}

#header {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-column: 2;
    grid-row: 1 / 3;
    box-shadow: 0 10px 2px -2px;
}

#notif-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-notif-profile {
    display: flex;
    align-items: center;
    justify-self: center;
    grid-row: 1;
}

#profile-options {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#search-bar {
    border-radius: 15px;
    width: 500px;
    background-color: rgb(235, 235, 235);
}

img {
    height: 25px;
    width: 25px;
    border: 0px solid white;
}

#content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(232, 232, 232);
    padding: 20px;
}

#projects h2 {
    grid-column: 1 / 3;
}

#projects {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-row: 1 / 3;
}

#projects:first-child {
    height: 50px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    border-left: 8px solid rgb(222, 208, 17);
    background-color: white;
    box-shadow: 0 5px 5px -5px;
}

#announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#announcements-content {
    border-radius: 10px;
}

#announcements-content div {
    border-bottom: 3px solid black;
}

#announcements-content div:last-child {
    border-bottom: 0px solid black;
}

#announcements-content {
    background-color: white;
    grid-template-columns: 1fr;
    padding: 20px;
}

#trending {
    grid-column: 2;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.trending-item img {
    grid-column: 1;
    grid-row: 1 / 3; 
}

.trending-item p:first-child {
    grid-column: 2;
    grid-row: 1;
}

.trending-item p:last-child {
    grid-column: 2;
    grid-row: 2;
}

li {
    list-style-type: none;
}